@model AdmissionApps.Users

@{
    ViewData["Title"] = "Profile";
    var IsFormFill = Model.AdmissionStatus == "ADMIT" ? true : false;
}

<h1>Profile</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Profile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled="@IsFormFill" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherName" class="control-label"></label>
                <input asp-for="MotherName" class="form-control" />
                <span asp-validation-for="MotherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pincode" class="control-label"></label>
                <input asp-for="Pincode" class="form-control" />
                <span asp-validation-for="Pincode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" disabled="" />
                <span asp-validation-for="CourseName" class="text-danger" ></span>
            </div>
            <div class="form-group">
                @if(Model.AdmissionStatus!="ADMIT")
                {
                 <input type="submit" value="Edit Profile" class="btn btn-primary"/>
                }
                
            </div>
            @if (ViewData["MSG"] != null)
            {
                <span> @ViewData["MSG"].ToString()</span>
            }
        </form>
    </div>
</div>



